<h1 class = "container bg-dark text-white text-center my-4 py-4">[ngClass]</h1>
<div class="container">

  <button class ="btn btn-dark mb-3">Primero</button>
  <button class ="btn btn-danger mb-3">Segundo</button>

  <!--Pinta un texto en azul-->
  <p class="text-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita sunt nulla eveniet accusamus, praesentium a deserunt quasi perferendis saepe libero adipisci hic ab cupiditate veritatis dolor quibusdam. A, asperiores nobis.</p>
  <p class="text-danger">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint id impedit, voluptatem et accusamus expedita sequi magnam, soluta dolorum temporibus natus omnis culpa atque unde aperiam fugiat facilis! Excepturi, minima.</p>
  

</div>